.subsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 2rem;

  & .choose-date {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 2rem;
    min-width: 128px;

    & nz-date-picker {
      margin-bottom: 1rem;
    }
  }

  & .empty-chart {
    &__title {
      font-size: 1.2rem;
      font-weight: 500;
    }
    &__suggest {}
  }
}

nz-list {
  max-height: 600px;
  overflow-y: scroll;
}
