.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed {
  flex: 0 0 64px!important;;
  max-width: 64px!important;;
  min-width: 64px!important;;
  width: 64px!important;;

  & .ant-layout-sider-children .ant-menu-item span {
    display: none;
  }
}
/* You can add global styles to this file, and also import other style files */
