@import "leaflet-draw/dist/leaflet.draw.css";

.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed {
  flex: 0 0 64px!important;;
  max-width: 64px!important;;
  min-width: 64px!important;;
  width: 64px!important;;

  & .ant-layout-sider-children .ant-menu-item span {
    display: none;
  }
}
/* You can add global styles to this file, and also import other style files */
.login-form {
  max-width: 400px;
  max-height: 400px;

  margin: 30vh auto;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  &__title {
    width: 100%;
    text-align: center;

    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

nz-form-control {
  width: 100%;
  margin-bottom: 1rem;
}

.login-form {
  & .ant-form-item {
    margin-bottom: 12px;
  }

  & nz-form-control {
    margin-bottom: 0;
  }
}
